<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" do %>
      First Name <span class="text-danger">*</span>
    <% end %>
    <%= form.text_field :first_name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" do %>
      Last Name <span class="text-danger">*</span>
    <% end %>
    <%= form.text_field :last_name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" do %>
      Email <span class="text-danger">*</span>
    <% end %>
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>

  <div>
    <%= link_to "Back", users_path , class: "btn btn-default" %>
  </div>
<% end %>

