<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p>
    <strong>Assignee:</strong>
    <%= ticket.assignee_id %>
  </p>

  <p>
    <strong>Reporter:</strong>
    <%= ticket.reporter_id %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= ticket.due_date %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= ticket.tags %>
  </p>

</div>
